@import "tailwindcss";

:root {
  --primary-color: #f5f6f7;
  --secondary-color: #154480;
  font-size: 16px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Tailwind custom components */
@layer components {
  .container {
    @apply max-w-6xl mx-auto;
    /* px-4 sm:px-6 lg:px-8 */
  }
}

/* header style */
.active {
  color: red;
}
