@import "tailwindcss";

:root{
    --primary-color: #F5F6F7;
    --secondary-color: #154480;
    font-size: 16px;
    
}


*{
    font-family: Arial, Helvetica, sans-serif;
}

/* header style */

.active{
    color:red;
}
